<h2>Hi, {{user.username}}</h2>
<h4>Welcome to Medium.com!</h4>

<p>We're excited to have you join our community. Your account has been successfully created.</p>

<p>To complete your registration and verify your email address, please click the link below:</p>
<p>Verify Your Email: {{verification_link}}</p>

<p>Once your email is verified, you'll be able to fully access your account and start exploring all the features [Your Company Name] has to offer.

If you did not sign up for this account, please disregard this email.

If you have any questions or need assistance, feel free to contact our support team.

Thank you for joining us!</p>

<p>Best regards,</p>
<h3>The Medium.com Team</h3>